.container .correct{
    background-color: #317d5f;
    border-color: #4b6e64;
}
.answered{
    background-color: #0de18c;
    border-color: #14dca4;

}
.reviewed{
    background-color: #e9cb0c;
    border-color: #e5c80a;

}
.main{
    display: flex;
    justify-content: space-between;
}
.container .wrong{
    background-color: #317d5f;
    border-color: #4b6e64;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;


}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;

}


.mytimer{
    border:2px solid black;
    width:40px;
    padding-left: 10px;
}
.resultContainer{
    border: 1px solid black;
    width: 45vw;
    height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 25%;
  transform: translate(0, -50%);
}
.allQueshions{
    width: 35vw;
    padding: 15px;
}
